
export DOCKER_PASSWORD=
export DOCKER_USERNAME=
export SERVER="ghcr.io"
export CLUSTER_NAMESPACE="default"

export IMAGE_NAME="ghcr.io/ikenom/ecommerce-store-front"
export IMAGE_TAG="latest"

export RABBITMQ_USERNAME=
export RABBITMQ_PASSWORD=

export SHOPIFY_API_KEY=
export SHOPIFY_API_PASSWORD=
export SHOPIFY_SHOP_NAME=